$accent-color: #ffae47;
$accent-secondary-color: #ff2e17;
$primary-color: #2c2e35;
$secondary-color: #ffffff;
$tertiary-color: #e0e0e0;
$nav_highlight-color: #595b61;
$line-color: #808180;
$nav-color: #202121;

$primary-font: "Montserrat", sans-serif;

body {
    margin: 0;
    font-family: $primary-font;
}

h2 {
    font-size: 40px;
    font-weight: 200;
    line-height: 0.9;
    &.regular-w {
        font-weight: 400;
    }
}

h3 {
    font-weight: 700;
    font-size: 38px;
}

h4 {
    margin: 0 0 24px 0;
    font-size: 42px;
    font-weight: 300;

    &.alternative-head {
        font-size: 38px;
        font-weight: 700;
        white-space: nowrap;
        padding: 6px 16px;
        color: $primary-color;
        background-color: $accent-color;
        position: absolute;
        top: -6%;
        left: 50%;
        transform: translateX(-50%);
    }
}

h5 {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 24px 0;

    &.more-mb {
        margin-bottom: 64px;
    }
}

h6 {
    font-size: 25px;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 16px;
}

nav {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

p {
    font-size: 21px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 78px 0px;

    .about-title {
        text-align: center;
    }

    .about-text {
        display: block;
        margin: auto;
        text-align: center;
        max-width: 480px;
        width: 100%;
    }
    a {
        text-decoration: none;
        color: $primary-color;
        font-size: 25px;
    }
}

input {
    font-family: $primary-font;
    border: 0;
    outline: 0;
    &:focus {
        outline: none !important;
    }
}

a {
    text-decoration: none;
}

#sidebar {
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 0%;
    height: 100%;
    max-width: 200px;
    background-color: $primary-color;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s;
    .sidebar-panel {
        padding: 0px 16px 0px 16px;
    }
    ul {
        padding-inline-start: 0px;
        list-style: none;
        li {
            margin-bottom: 24px;
            a {
                text-decoration: none;
            }
            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }
}

#search-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 40;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $primary-color;
    width: 100%;
    height: 0%;
    max-height: 200px;
    overflow: hidden;
    transition: 0.2s;
}

#backdrop-panel {
    display: none;
    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.75;
    transition: 0.3s;
}

#intro-section {
    background-image: url("../assets/images/sc_bg_01.webp");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 36px;
    height: 1010px;
}

#about-section {
    background-color: $accent-color;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 800px;
    position: relative;

    .break-into {
        position: absolute;
        top: -100px;
        width: 100%;
        height: 100%;
        max-height: 210px;
        background-image: url("../assets/images/break.png");
    }
}

#level-section {
    background-image: url("../assets/images/sc_bg_02.webp");
    background-repeat: no-repeat;
    background-position: top;
    justify-content: start;
    padding: 24px 0;
}

#route-section {
    background-image: url("../assets/images/sc_bg_03.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 900px;
}

#journey-section {
    background-color: $accent-color;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 24px;
    padding-bottom: 56px;
}

#promotion-section {
    background-image: url("../assets/images/sc_bg_04.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 100px 0 80px 0;
}

#video-section {
    background-image: url("../assets/images/sc_bg_05.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 80px 0px;
}

#gallery-section {
    background-image: url("../assets/images/sc_bg_06.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 60px 0;

    .flex-wrapper {
        gap: 80px;
        .flex-item-3 {
            flex: calc(33.33% - 80px);
        }
    }
}

#contact-section {
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 60px;
    padding-bottom: 90px;
    color: $secondary-color;
}



.mt-6 {
    margin-top: 128px;
}

.mb-3 {
    margin-bottom: 64px;
}

.mb-2 {
    margin-bottom: 48px;
}

.mb-1 {
    margin-bottom: 16px;
}

.mt-4 {
    margin-top: 84px !important;
}

.mt-3 {
    margin-top: 64px !important;
}

.my-1{
    margin-top: 16px;
    margin-bottom: 16px;
}






.main-logo {
    max-width: 220px;
    width: 100%;
    padding: 0 32px;
}

.contact-logo {
    max-width: 340px;
    width: 100%;
}

.nav-panel {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    .nav-panel-primary {
        width: 100%;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;
        transition: 0.3s;
        box-sizing: border-box;
        img {
            overflow: hidden;
        }
    }
    .nav-panel-secondary {
        display: none;
        margin: auto;
        width: 100%;
        padding: 16px 0px 16px 0px;
        justify-content: space-between;
        flex-direction: row;
        transition: 0.3s;
        box-sizing: border-box;
        ul {
            padding-inline-start: 0px;
            li {
                font-weight: 500;
                display: inline-block;
                list-style: none;
                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
            a {
                transition: 0.2s;
                padding: 6px 12px;
                &:hover {
                    border-radius: 10px;
                    background-color: $nav_highlight-color;
                }
            }

            .current {
                border-radius: 10px;
                background-color: $nav_highlight-color;
            }
        }
    }
}

.nav-container {
    width: 100%;
    padding: 0px 16px 0px 16px;
    max-width: 1328px;
    box-sizing: border-box;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-color-font {
    color: $primary-color;
}

.secondary-color-font {
    color: $secondary-color;
}

.accent-color-bg {
    background-color: $accent-color;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-high {
    height: 100%;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .full-item {
        width: 100%;
    }
    .item-align-end {
        display: flex;
        justify-content: center;
        align-items: end;
    }
    &.lg-reverse-order {
        flex-direction: row;
    }
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.text-center {
    text-align: center;
}

.input-control {
    width: 100%;
}

.fit-parent {
    width: 100%;
}

.special-icon {
    display: block;
}

.box {
    border: 2px solid $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.splash-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: $nav-color;
    max-width: 786px;
    font-size: 21px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 220px;
    padding: 12px 46px 12px 46px;
    background-position: center;
    background-size: contain;
}

.search-input {
    text-align: center;
    padding: 0 38px 0 38px;
    height: 38px;
    font-size: 16px;
    border-radius: 20px;
    box-sizing: border-box;

    &.nav-search-input {
        max-width: 240px;
    }
    &.route-search-input {
        color: $secondary-color;
        width: 100%;
        &::placeholder {
            color: $secondary-color;
        }
    }
}

.route-search-container {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    width: 100%;
    position: relative;
    .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translate(-50%, -50%);
    }
}

.rounded-link-btn {
    padding: 4px 28px;
    border: solid 6px;
    border-radius: 25px;
    font-weight: 500;
    &.rlb-primary {
        border: $primary-color solid 2px;
        padding: 4px 30px;
        color: $primary-color;
    }
    &.rlb-secondary {
        color: $secondary-color;
        border-color: $secondary-color;
    }
}

.more-btn {
    display: block;
    width: fit-content;
    background-color: $accent-color;
    padding: 6px 24px;
    color: $primary-color !important;
    font-size: 22px;
    margin: 8px auto;
    &.secondary-more-btn {
        color: $primary-color;
        background-color: $secondary-color;
    }
}

.negative-btn {
    color: white;
    background-color: $accent-secondary-color;
    border: 0;
    outline: 0;
    padding: 8px 16px;
    border-radius: 25px;
    &.rounded-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 35px;
        aspect-ratio: 1 / 1;
    }
    &:focus {
        outline: none !important;
    }
}

.intro-container {
    padding: 24px;
}

.quote-box {
    max-width: 490px;
    box-sizing: border-box;
    padding: 28px 36px;
    height: fit-content;
    margin: 64px auto;
    background-color: rgb(181 117 38 / 40%);
    .quote-box-text {
        font-size: 18px !important;
    }
    span {
        font-weight: 500;
        font-size: 16px;
    }
}

.lvl-card {
    display: block;
    margin: 0px auto 36px;
    max-width: 284px;
    width: 100%;
    font-size: 20px;
    padding: 24px 10px;
    background-color: rgba(255, 172, 71, 0.75);
    border-radius: 25px;
    box-sizing: border-box;

    a {
        margin-top: 16px;
        border: $primary-color solid 2px !important;
        padding: 4px 30px;
        color: $primary-color;
    }
}

.lvl-line {
    background-color: $primary-color;
    height: 1px;
    width: 100%;
}

.search-route {
    width: 100%;
    display: flex;
    justify-content: center;
}

.route-description {
    font-weight: 500;
    max-width: 470px;
    padding: 76px 0;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.79);
}

.route-card {
    position: relative;
    border: $secondary-color 4px solid;
    padding: 6px;
    width: 100%;
    max-width: 300px;
    border-radius: 35px;
    margin-bottom: 64px;
    img {
        border-radius: 30px;
        width: 100%;
    }

    .discount-tag {
        color: $secondary-color;
        background-color: $accent-secondary-color;
        width: fit-content;
        padding: 6px 12px;
        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 22px;
        font-weight: 500;
    }
}

.fake-video {
    position: relative;
    width: 100%;
    img {
        width: 100%;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 40px;
        }
    }
}

.fake-video-name {
    font-size: 16px;
    font-weight: 300;
}

.gallery-img {
    width: 100%;
}

.contact-text {
    max-width: 430px;
    width: 100%;
    font-size: 30px;
    line-height: 2;
    font-weight: 300;
}

.social-media {
    font-family: $primary-font;
    color: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    margin-bottom: 16px;
    span {
        font-weight: 500;
        font-size: 14px;
    }
    img {
        aspect-ratio: 1/1;
    }
}

.text-contact-adjust {
    display: flex;
    justify-content: center;
}

.contact-adjust {
    margin-left: auto;
    margin-right: auto;
}

.contact-panel {
    max-width: 340px;
}

.indent {
    margin-left: 20px;
}

.contact-email {
    font-size: 30px;
    font-weight: 500;
    word-break: break-word;
}

.hiking-logo {
    max-width: 435px;
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 60px;
    }

    nav {
        .nav-panel {
            background-color: transparent;
            .nav-panel-secondary {
                display: flex;
            }
        }
    }

    footer {
        .flex-item-3 {
            flex: calc(33.33% - 30px) !important;
        }
        .about-title {
            text-align: start;
            margin-left: 0;
        }
        .about-text {
            margin-left: 0;
            text-align: start;
        }
    }

    #intro-section {
        padding-top: 0;
    }

    #level-section {
        height: 1080px;
    }

    .container {
        max-width: 960px;
    }

    .flex-wrapper {
        flex-direction: row;
        .flex-item-2 {
            flex: 50%;
        }
        .flex-item-3 {
            flex: 33.33%;
        }

        &.lg-reverse-order {
            flex-direction: row-reverse;
        }
    }

    .special-icon {
        display: none;
    }
    .splash-box {
        font-size: 21px;
        background-size: contain;
        padding: 80px 170px 80px 170px;
        background-image: url("../assets/images/splash-box.png");
        background-color: transparent;
    }
    .route-search-container {
        max-width: 450px;
        margin-left: auto;
        margin-right: 0;
    }
    .contact-adjust {
        display: flex;
        justify-content: end;
        margin-right: 0;
    }
    .text-contact-adjust {
        justify-content: start;
    }

    .lvl-card {
        padding: 0;
        background-color: transparent;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
